# Importing  libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import dataset

In [5]:
sal= pd.read_excel(r"C:\Users\OMOTAYO GRACE\Desktop\Excel\resturant sales.xlsx")
sal

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,2022-07-03,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,2022-08-23,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,2022-11-20,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,2023-02-03,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,2022-10-02,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,2023-03-19,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,2022-09-20,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,2023-01-26,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,2022-08-27,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,2022-05-29,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

#